body{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-height: fit-content;
    max-width: 800px;
    background-color: blueviolet;
    padding: 50px 20px
    
}

.display {
    background-color: grey;
    height: 50px;
    margin-bottom: 20px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    grid-auto-rows: minmax(100px, auto);
}

.column {
    display: flex;
    flex-direction: column;
}